{% extends "base.jinja2" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Signup</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class = 'notification is-danger'>
                    {{messages}}. Faça o Login <a href="{{url_for('auth.login')}}">Login Page </a>
                </div>
                {% endif%}
                {% endwith %}
                <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    E-mail
                    <input class="input is-large" type="email" name="email" placeholder="E-mail" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    Registration Number
                    <input class="input is-large" type="text" name="registration-number" placeholder="Registration" maxlength="9">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Name
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Password
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="input-group">
        <label for="role">Role:</label>
        <select id="role" name="role" required>
          <option value="">Select</option>
          <option value="aluno">Student</option>
          <option value="professor">Professor</option>
        </select>
    <br>
            <button class="button is-block is-info is-large is-fullwidth">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}