{% extends "base.jinja2" %}

{% block content %}

{# <div class="column is-4 is-offset-4"> #}
    <h3 class="title">Add True/False question</h3>
    <div class="box">
                <form method="POST" action="">
            <div class="field">
                <div class="control">
                    Command
                    <textarea class="textarea is-medium " name = "command" placeholder="command" autofocus=""></textarea>
                </div>
            </div>
        
            <div class="control">
            Answer <br>
                <label class="radio">
                    <input type="radio" name="answer" value = 'True'>
                        True
                </label>
                <label class="radio">
                    <input type="radio" name="answer" value = 'False'>
                            False
                </label>
            </div> <br>


        
        <div class = 'field'>
            <div class = 'control' > Value
            <input class="input is-small" type="float" name="value" placeholder="Value" >
            </div>
        </div>
    <br>
            <button class="button is-block is-info is-medium is-responsive">Add</button>
        </form>
    </div>
{# </div> #}
{% endblock %}