{% extends "base.jinja2" %}

{% block content %}
    <h3 class="title">Add True/False question</h3>
    <div class="box">
        <form method="POST" action="">
            <div class="field">
                <div class="control"> Command
                    <label for="cmd"></label>
                    <textarea class="textarea is-medium" id="cmd" name="command" placeholder="command"
                              autofocus=""></textarea>
                </div>
            </div>
            <div class="control">Answer
                <br>
                <label class="radio">
                    <input type="radio" name="answer" value='True'>
                    True
                </label>
                <label class="radio">
                    <input type="radio" name="answer" value='False'>
                    False
                </label>
            </div>
            <br>
            <div class='field'>
                <div class='control'> Value
                    <label for="val"></label>
                    <input class="input is-small" type="number" step="0.1" id="val" name="value" placeholder="Value">
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-responsive">Add</button>
        </form>
    </div>
{% endblock %}