{% extends "base.jinja2" %}

{% block content %}
    <h1 class='title'> Relatório: {{ exam.description }} </h1>
    <div class='box'>
        <b>{{ student.name }}</b>
        <table class='table is-striped'>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>

            {% for question in attempt.answers %}
                <tr>
                    <td>{{ question.upper() }}</td>
                    <td>{{ attempt.answers[question] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}