{% extends "base.jinja2" %}

{% block content %}
    <h1 class='title'> Relatório: {{ exam.description }} </h1>
    <div class='box'>
        <b>Relatório do exame</b>
        <table class='table is-striped'>
            <tr>
                <th>Student</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>

            {% for student in reports %}
                <tr>
                    <td>{{ student }}</td>
                    <td>{{ reports[student].grade }}</td>
                    <td>
                        <form action="{{ url_for('exam.report', exam_id=exam.id, attempt_id=reports[student].id) }}">
                            <button type="submit">Show</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}