{% extends "base.jinja2" %}

{% block content %}
    <h1 class='title'> Exames cadastrados </h1>


    <div class='box'>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        <b>Exames cadastrados</b>
        <table class='table is-bordered'>
            <tr>
                <th>Description</th>

                {% if current_user.role == 'aluno' %}
                    <th>Professor</th>
                {% endif %}

                <th>Actions</th>
            </tr>

            {% for exam in exams %}
                <tr>
                    <td>{{ exam.description }} </td>

                    {% if current_user.role == 'aluno' %}
                        <td>{{ exam.prof_id }}</td>
                    {% endif %}

                    <td>
                        {% if current_user.role == 'aluno' %}
                            {%  if exam.id in done_exams %}
                                <form action="{{ url_for('exam.student_report',exam_id = exam.id,student_id = current_user.id) }}">
                                <button type='submit'>Report</button>
                            {% else %}
                                <form action="{{ url_for('exam.apply',exam_id = exam.id) }}">
                                <button type='submit'>Apply</button>
                            {% endif %}
                        {% else %}
                        <form action="{{ url_for('exam.show_reports',id = exam.id) }}">
                            <button class = 'button is-primary is-small' type='submit'>Reports</button>
                            </form>
                            <form action="{{ url_for('exam.delete',id = exam.id) }}">
                                <button class = 'button is-danger is-small' type='submit'>Delete</button>
                            </form>
                            
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if current_user.role == 'professor' %}
        <a href="{{ url_for('exam.new') }}" class="btn btn-success">
            <button class="button is-primary ">Add New</button>
        </a>
    {% endif %}
    </div>
{% endblock %}